<div>
  <h1>Welcome to Day 3</h1>
  <!--<app-piglatindemo></app-piglatindemo>-->
  <!--<app-parent></app-parent>-->
  <!--<app-observabledemo></app-observabledemo>-->
  <!--<app-asyncactorlist></app-asyncactorlist>-->
  <!--<app-postsdemo></app-postsdemo>-->

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/piglatin" routerLinkActive="active">PigLatin demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/asyncactor" routerLinkActive="active">Async Actor List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>